.profile_image {
    margin-top: 1.5em;
    width: 124px;
    height: 124px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.5em;
    border-radius: 200%;
  }
  

