*{
    margin: 0;
    padding: 0;
}



.appName{
    margin-right: 11rem;
    font-weight: bold;
    font-size: 22px;
}

.labourStatus{
    margin-left:23%;
    margin-right:23%;
    width: 50%;
    --border-radius: 50px;
}

.gridContainer{
    margin-top: 4rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card{
    border: 2px solid lightslategrey;
    text-align: center;
    width: 9rem;
    height: 7rem;
    margin-top: 25px;
    background-color: lightgrey;
    padding-top: 21px;
}

.cardRight{
    margin-right: 12.5px;
}

.cardLeft{
    margin-left: 12.5px;
}
.sam{
    font-size: 35px;
}

.sam2{
    font-size: 15.5px;
    margin-top: 3px;
}


#pendingServicesContent{
    display: none;
}

#scheduleServicesContent{
    display: none;
}

#penaltiesContent{
    display: none;   
}