/* .IonButton {
    tab-size: 50px;
}

.ion-padding-IonButton {
    tab-size: 50px;
} */

/* .ion-color-danger {
    background-color: var(--ion-color-danger);
} */
/* 
.ion-item{
    align-items: center;
    border: 2px solid black;
    border-radius: 20px;
    text-align: center;
    margin-left: 2px;
    padding: 10px;
    display: inline-block;
}

.ion-item IonButton{
    display: block;
    text-align: center;
}

/* .container{
   display: block; 
   margin-top: 3rem;
   border-radius: 2rem;
   height: fit-content;
   width: fit-content;
   text-align: center;
}

.datetime{
    margin: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
} */

ion-modal#example-modal {
    --height: 50%;
    --border-radius: 16px;
    --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  }
  
  ion-modal#example-modal::part(backdrop) {
    background: rgba(209, 213, 219);
    opacity: 1;
  }
  
  ion-modal#example-modal ion-toolbar {
    --background: rgb(14 116 144);
    --color: white;
  }
    
  /* #listItem{
      display: flex;
      text-align: center;
      align-items: center;
      margin: 20px 20px;
  } */
  
  /* IonButton#listItem {
      background-color: aqua;
      color: black;
  }
  
  IonButton#listItem:hover {
      background-color: blue;
      color: aliceblue;
  } */
  
  /* background color*/
  /* .myClassName{
    --ion-background-color:red;
  } */
  
  .serviceBtn{
    width: 100px;
    height: 55px;
    --border-radius: 10px;
    font-size: 15px;
  }

  /* //ION BUTTON ALERT*/
  ion-alert.custom-alert {
    --backdrop-opacity: 0.7;
  }
  
  .custom-alert .alert-button-group {
    padding: 20px 15px;
  }
  
  button.alert-button.alert-button-confirm {
    background-color: var(--ion-color-success);
    color: var(--ion-color-success-contrast);
  }
  
  .md button.alert-button.alert-button-confirm {
    border-radius: 4px;
  }
  
  .ios .custom-alert button.alert-button {
    border: 0.55px solid rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.2)
  }
  
  .ios button.alert-button.alert-button-cancel {
    border-right: 0;
    border-bottom-left-radius: 13px;
    border-top-left-radius: 13px;
  }
  
  .ios button.alert-button.alert-button-confirm {
    border-bottom-right-radius: 13px;
    border-top-right-radius: 13px;
  }

/* Date and Time */
#date_time{
  margin-top: 10px;
  border: 1px solid black;
  border-radius: 2rem;
  position: sticky;
  margin-bottom: 20px;
} 


/* Mitesh Page */

.gridServiceContainer{
  text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    flex-direction: column;
}

.serviceCard{
  width: 160px;
    height: 100px;
    text-align: center;
    background-color: gold;
    border-radius: 15px;
    margin-left: 12px;
    margin-top: 14px;
}

.ion_text_center{
  margin-top: 2rem;
}
/* .serviceCardRight{
  margin-left: 7px;
    margin-top: 14px;
}
.serviceCardLeft{
  margin-right: 7px;
    margin-top: 14px;
} */

#head1{
  text-align: center;
  font-weight: bolder;
  font-size: 25px;
}

#search_bar{
  --border-radius: 100px;
}


ion-slides {
  height: 100%;
}

.slide{
  height: 250px;
  width: 355px;
  top: 45px;
  border-radius: 16px;
}  

.slider_card{
  height: 230px; 
  width: 100% !important;
  z-index: -1;
}

.swiper_slide_active{
  transform: scale(1.05,1.05);
}

.swiper_slide{
  transition: 400ms all ease-in-out;
}

img{
  border-radius: 25px;
  position: absolute;
  opacity: 1;
}

a{
  background-color: transparent;
  color: white;
  text-decoration: none;
  font-family: 'Times New Roman', Times, serif;
  font-size: 2rem;
}


